<div ng-controller="accountCtrl">
  <ng-switch on="userInfo.IsAuthorized">
    <div ng-switch-when="false">
      <a href="#/registration">Registration</a>
      |
      <a href="#/login">log in</a>
    </div>
    <div ng-switch-when="true">
      {{userInfo.Name}}
      |
      <a href="" ng-click="vm.logout()">log out</a>
    </div>

  </ng-switch>

</div>
