<div class="row" ng-controller="staticticCtrl">
  <div class="col-xs-12">
    <h2>Статистика: </h2>
    <div>Всего новостей: {{statistics.CountNews}}</div>
    <div>Добавлено новостей сегодня: {{statistics.AddNewsToday}}</div>
    <div ng-show="statistics.IsAuthorized">
      <div>Прочитано: {{statistics.CountReadCurrentUser}}</div>
      <div>Прочитано сегодня: {{statistics.CountReadTodayCurrentUser}}</div>
    </div>
  </div>
</div>