<div class="col-xs-12">
    <div class="form-group-wrap" ng-show="visibleForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title" ng-model="Title">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail3">Content</label>
            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Content" ng-model="Content">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Autor</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Autor" ng-model="Autor">
        </div>
        <button type="" class="btn btn-default" ng-click="vm.submit()">Submit</button>
    </div>
    <div class="message" ng-show="visibleText">
        <p>Новость создана!</p>
    </div>
</div>