<div class="col-xs-9">
    <div class="row" ng-show="(userInfo.IsAuthorized === true) && (userInfo.Role === 'admin')">
        <a href="#/news-create" class="btn">Добавить новость</a>
    </div>
    <div class="news-list">
        <div class="news-item" ng-repeat="item in listViewModel.News | orderBy:'Date':true | filter :{Content:content} | filter: {Autor: autor} | filter: {IsRead: isRead}">
            <div class="news-item_header">
                <h2>
                    <a href="#/news/{{item.Id}}">{{item.Title}}</a>
                </h2>
            </div>
            <div class="news-item_content">{{item.Content}}</div>
            <div class="news-item_footer">
                <div>Автор: {{item.Autor}}</div>
                <div>{{item.Date | date: 'dd-MM-yyyy'}}</div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-3">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt1" ng-change="vm.dateRange()" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt2" ng-change="vm.dateRange()" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
    </div>
    <div class="row" ng-show="listViewModel.IsAuthorized">
        <div class="col-xs-12">
            <div class="checkbox"> <label> <input type="radio" ng-model="isRead" ng-value="true"> Прочитанные </label> </div>
            <div class="checkbox"> <label> <input type="radio" ng-model="isRead" ng-value="false"> Не прочитанные </label> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Автор</label>
                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="autor">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Текст</label>
                <input type="text" class="form-control" id="exampleInputEmail2" ng-model="content">
            </div>
        </div>
    </div>

    <ng-include src="'views/shared/statistics.html'"></ng-include>

</div>