<div class="col-xs-12">
    <div class="news-list">
        <div class="news-item">
            <div class="news-item_header">
                <h2>{{news.Title}}</h2>
            </div>
            <div class="news-item_content">{{news.Content}}</div>
            <div class="news-item_footer">
                <div>Автор: {{news.Autor}}</div>
                <div>{{news.Date | date: 'dd-MM-yyyy'}}</div>
            </div>
        </div>
    </div>
</div>