<div class="col-xs-12">

    <div class="form-group-wrap" ng-show="formVisible">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
        </div>
        <button type="" class="btn btn-default" ng-click="vm.submit()">Submit</button>
    </div>
    <div class="message" ng-show="messageVisible">
        <p>Регистрация пройдена</p>
    </div>


</div>